<!DOCTYPE html>

{% load bootstrap_toolkit %}
{% load url from future %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block base_title %}Qian{%endblock %} | Qian</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Johan Sim Jian An">
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    {% bootstrap_stylesheet_tag "responsive" %}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block base_extra_head %}{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <a class="brand" href="/">Qian</a>
          
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% block base_nav %}
                {% if user.is_authenticated %}
                  <li><a href="/stocks/">Stocks</a></li>
                {% endif %}
              {% endblock %}
            </ul>
            <ul class="nav pull-right">
              {% if user.is_authenticated %}
                <li><a href="/users/logout/">Logout</a></li>
              {% else %}
                <li><a href="/users/login/">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      {% bootstrap_messages %}
      
      {% block base_content %}Empty page{% endblock %}
      
      <hr />
      
      <footer>
        <p>&copy; 2013 Johan Sim Jian An</p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
  </body>
</html>
